<% provide :title, t(".title") %>
<h1><%= t(".h1_title") %></h1>
<p>
  The <%= link_to t(".link"), "http://www.railstutorial.org/" %> <%= t(".is_a")%>
  <%= link_to t(".link1"), "http://www.railstutorial.org/book" %> <%= t(".and")%>
  <%= link_to t(".link2"), "http://screencasts.railstutorial.org/" %>
  <%= t(".p_content2") %>
  <%= link_to t(".link3"), "http://rubyonrails.org/" %>
  <%= t(".p_content1") %>
</p>
